*{
    padding: 5px;
}

.fit{
    width: fit-content;
    height: fit-content;
}
.row{
    display: flex;
    flex-direction: row;
  }
  
.col{
    width: 100px;
    min-height: 20px;
    border: 1px solid #666;
    font-size: 1vw;
  }